<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>Alex's blog</title>
</head>
<body>
<header>
    <h1><a href="https://tutorial.djangogirls.org/en/">Django Girls blog</a></h1>
</header>
<article>
    <time>published 29.08.2023 12:43</time>
    <h2><a href="https://vk.com/demon_kan">About me</a></h2>
    <p>Hello my name is Alex and I'm a future programmer</p>
</article>
<article>
    <time>published 29.08.2023 12:47</time>
    <h2><a href="https://www.linkedin.com/in/alekseiustsimenka/">My linkedin</a></h2>
    <p>This is my linkedin profile where i post all my achievements</p>
</article>
<article>
    <time>published 29.08.2023 12:50</time>
    <h2><a href="https://github.com/Alexustimenko">My Github</a></h2>
    <p>This is my Github with all my reposiories with projects</p>
</article>
<article>
    <time>published 29.08.2023 12:53</time>
    <h2><a href="https://github.com/Alexustimenko/djangogirlsproject">Repository of this project</a></h2>
    <p>This is Github repository with our project</p>
</article>
<article>
     <time>published 29.08.2023 12:56</time>
    <h2><a href="https://en.wikipedia.org/wiki/Strawberry">Strawberry</a></h2>
    <p>This is where our future strawberry picture will be posted</p>
</article>
</body>
</html>